.title {
    content-align: center middle;
    height: 3;
    text-style: bold;
    border: solid gray;
}
.panel {
    padding: 1;
    min-height: 12;
    # height: 20;
}


#board_selection_panel {
    height: 16;
}
#file_selection_panel {
    height: 10;
}
#upload_panel {
    height: 11;
}


#main_container {
    layout: vertical;
    align: center top;
    padding: 1;
    # height: auto;
    # height: 100;
    border: solid gray;
}
