#board_list {
    max-width: 45;        /* take 30% of screen */
    min-width: 35;        /* take 30% of screen */
    width: 2fr;        /* take 30% of screen */
    height: 8;
    border: solid gray;
    padding: 1;
}

#board_details {
    width: 3fr;
    max-height: 10;
    border: solid gray;
    padding: 1;
}