.fileselection-title {
    content-align: center middle;
    height: 3;
    text-style: bold;
    border: solid gray;
}

#file_selection_panel * {
    margin-left: 1;
}

#usb_stack_option_list {
    min-height: 5;
    height: 7;
    width: 30%;
}

#manual_sketch_path_tab_hor {
    min-height: 10;
    height: 10;
}

.file-label {
    content-align: left middle;
    height: 3;
    width: 25;
}

#selected-file-label {
    # padding: 1;
    content-align: left middle;   
    border: solid gray;
    width: auto;
}

#browse_button {
    width: 5;
    height: 3;
}